//Custom

$colour-primary: #E92569;
$colour-secondary: #EFEFEF;
$colour-input: #ffffff;




//Bootstrap

$theme-colors: (
    "primary": $colour-primary,
    "light": $colour-secondary,
);

$body-bg: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 65%, rgba(229,229,229,1) 100%);

$font-family-sans-serif: 'Lato', sans-serif;

$navbar-light-brand-hover-color: $colour-primary;


@import "~bootstrap/scss/bootstrap";